@import 'https://fonts.googleapis.com/css?family=Glegoo:400,700';
body {
  font-family: 'Glegoo';
  font-size: 16px;
  font-weight: 400;
}
.rojo {
  border: solid 1px #f00;
}
.naranja {
  border: solid 1px #ffa500;
}
.verde {
  border: solid 1px #008000;
}
.rosado {
  border: solid 1px #ffc0cb;
}
.celeste {
  border: solid 1px #0ff;
}
.azul {
  border: solid 1px #00f;
}
.alfa {
  border: solid 0.1px rgba(0,0,0,0);
}
/*COLOR NATANJA MEATPRO PARA TEXTO	*/
.centrar {
  display: flex;
  justify-content: center;
}
/*SUBTITULOS 2 COLOR NARANJA*/
.subti2 {
  color: #f9a81a;
  font-size: 2.5rem;
  font-weight: 700;
}
.subti3 {
  color: #f9a81a;
  font-size: 1.5rem;
  font-weight: 700;
}
.subtiNegro {
  color: #000;
  font-size: 3rem;
  font-family: 'Glegoo';
  font-weight: 700;
  margin: 0;
}
.sombraNav {
  box-shadow: 0 13px 20px 0 rgba(0,0,0,0.5);
  width: 100vw;
  background-color: #fff;
}
.sombra {
  box-shadow: 0 5px 4px 0 rgba(0,0,0,0.5);
}
.sombraText {
  text-shadow: 0 2px 2px #000;
}
.btnEntrar {
  border-radius: 20px;
  background-color: #f9a81a;
  padding: 0.6rem 2.1rem;
}
.navmenu {
  width: 100%;
  box-shadow: none;
  background-color: #fff;
}
.navmenu ul a {
  color: #a7a7a7;
}
.navmenu ul a:hover {
  background-color: #f9a81a;
  color: #fff;
}
.logoNav {
  width: 189px;
}
.logo img {
  width: 118px;
}
.resumen {
  font-size: 1rem;
  font-family: 'Glegoo';
  color: #808080;
  line-height: normal;
}
.fpresentacion {
  background-image: url("../img/mobile/fondoinicio@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}
/*SECCION CARNIVERY*/
.carHead {
  background-image: url("../img/mobile/carHeadMobile@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 580px;
}
.textCarnivery {
  margin-top: 280px;
  text-align: center;
  color: #fff;
}
.madera {
  background-image: url("../img/mobile/maderaBlanca@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: auto;
}
.cajaBlanca {
  background-color: #fff;
  border-radius: 20px;
}
/*SECCION FIN DE SEMANA*/
.fondoFinde {
  background-image: url("../img/mobile/fFinde.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 592px;
  display: flex;
  align-items: center;
}
.logoFinde {
  background-image: url("../img/svg/lFinde.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  width: 80vw;
  height: 227px;
}
/*	
@media screen and (max-width: 320px)
	.carHead
		background-image url('../img/mobile/carHeadMobile.jpg')
		background-position center
		background-repeat no-repeat
		background-size contain*/
