doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meat Pro
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='css/estilos.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
  body
    nav.sombraNav
      .container
        // Dropdown Structure
        ul#dropdown1.dropdown-content
          li
            a(href='#!') Día Día
          li.divider
          li
            a(href='#!') Fin de semana
        nav.navmenu
          .nav-wrapper
            a.brand-logo.logoNav(href='#!')
              img(src='img/svg/logoMeatPro.svg', alt='')
            ul.right.hide-on-med-and-down
              li
                a(href='#!') Empresa
              li
                a(href='#!') Industry
              // Dropdown Trigger
              li
                a.dropdown-button(href='#!', data-activates='dropdown1')
                  | Carnivery
                  i.material-icons.right arrow_drop_down
              li
                a(href='#!') Contáctenos
    .main-container.fpresentacion
      .container
        .row
          h1.col.s12.resumen.center
            | Somos una agroindustria ecuatoriana que procesa y comercializa los mejores cortes de carne de: Res, Cerdo, Pollo y Charcutería. 
            br
            | Nuestra línea Industry se enfoca en todo el sector HORECA. (Hoteles, Caterings, Restaurantes).
            | Para llegar al consumidor final, hemos creado una nueva línea Carnivery, que se enfoca en facilitar la vida al cliente final, con lo mejor de nuestra línea cárnica.
          h2.subti3.center Nuestras Líneas
        .row.center
          .col.s6.logo
            img(src='img/mobile/logoIndustry@2x.jpg', alt='')
          .col.s6.logo
            img(src='img/mobile/logoCarnivery@2x.png', alt='')
          .col.s12
            p Ver más
            button
              a
                img(src='img/mobile/fAbajo.png', alt='')

    <!-- CARNIVERY INTRODUCCION-->              
    .main-container.carHead
      .container
        .row
          p.col.s12.textCarnivery.sombraText
            | Muchas veces necesitas tus cortes para el almuerzo y no tienes tiempo, no te preocupes. Carnivery te llevará los mejores cortes directo a tu hogar. Tenemos dos líneas Día Día y Fin de Semana. Ya no pases tiempo en el supermercado, Carnivery te simplifica la vida.
        .row.center
          botton.btnEntrar entrar

    <!-- DIA A DIA-->
    .main-container.madera.alfa
      .container
        .row
          figure.logo
            img(src='img/svg/logDia.svg')
        .row
          h3.col.s12.subtiNegro LISTO PARA RESOLVERTE EL DIA
        .row
          p.col.s12
            | Muchas veces no sabes que preparar para cada día. No te preocupes, puedes pedir tus cortes y planificar toda una semana. Así tendrás cero estrés.
        .row.center
          botton.btnEntrar entrar
        .cajaBlanca.sombra
          figure.centrar
            img(src='img/mobile/cfinde.png' srcset='img/mobile/cfinde@2x.png 2x')
          .container
            .row
              h3.subti2
                | FRESCO, RAPIDO Y LISTO PARA SERVIR
            .row
              p
                | Y lo mejor de todo sin salir de casa, con los cortes que elijas podrás preparar los platos que tanto desean los tuyos. Deleita el paladar!
            .row.center
              .col.s4
                img(src="img/svg/icoRes.svg", alt="")
                p Res  
              .col.s4
                img(src="img/svg/icoCerdo.svg", alt="")
                p Cerdo
              .col.s4
                img(src="img/svg/icoPollo.svg", alt="")
                p Pollo

    <!-- SECCION FIN DE SEMANA-->           
    .main-container.fondoFinde
      .container.logoFinde
    .container
      p.center Ahora puedes hacer la parrillada con todos tus amigos y el producto estará listo para prepararse. Con la línea Fin de semana tendrás una variedad de productos para ese asado que tienes planificado con tu familia o amigos. <br> Solo tienes que llamarnos!
      .row.center
        botton.btnEntrar entrar
    .main-container
      img(srcset="img/mobile/parrillada.jpg 1x, img/mobile/parrillada2x.jpg 2x", width="100%")
    
    <!-- SECCION APP-->
    .main-container
      .row
        h2.col.s12.textOran Y LO MEJOR DE TODO!
        p.col.s12.textGris
          | Tus cortes están al alcance de un solo click
    .main-container.madera
      .iphone
      .container
        .col.s12.center
          p Con nuestra APP podrás hacer tus pedidos desde la comodidad de tu hogar, o dónde quiera que estés! <br> Descarga la app Carnivery tanto para Android como para iOS.
      .row.center
        .col.s6
        img(src="img/svg/gPlay.svg", alt="")
        .col.s6
        img(src="img/svg/appStore.svg", alt="")
    .main-container
      .container.center
        p | O si prefieres puedes llamarnos a nuestra línea exclusiva de atención a cliente:
        .center
          img(src="img/svg/1800.svg", alt="")  
    
    <!-- SECCION LINEA INDUSTRY-->
          
    script.
      $( document ).ready(function(){
      $(".dropdown-button").dropdown();
      });
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')