doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meat Pro
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='css/estilos.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
  body 
    .navbar-fixed.sombra
      nav.navmenu.centrar
        .nav-wrapper
          a.brand-logo.logoNav(href='#')
            img(src='img/svg/logoMeatPro.svg', alt='')
          a.button-collapse.navW(href="#", data-activates="mobile")
            i.material-icons.textOran menu
          // Dropdown Structure
          ul#dropdown1.dropdown-content
            li
              a(href='#!') Día Día
            li.divider
            li
              a(href='#!') Fin de semana
          // icono hamburguesa    
          ul.right.hide-on-med-and-down
            li
              a(href='sass.html') Empresa
            li
              a(href='badges.html') Industry
            // Dropdown Trigger
            li
              a.dropdown-button(href='#!', data-activates='dropdown1')
                | Carnivery
                i.material-icons.right arrow_drop_down  
            li
              a(href='collapsible.html') Contáctenos  
          ul(id="mobile", class="side-nav")
            li
              a(href='sass.html') Empresa
            li
              a(href='badges.html') Industry
            // Dropdown Trigger
            li
              a(href='#!') Carnivery
                li
                  a(href='#!') Día Día
                li.divider
                li
                a(href='#!') Fin de semana
            li
              a(href='collapsible.html') Contáctenos

    <!-- MEATPRO INTRODUCCION-->
    .main-container.fpresentacion.alfa
      .container
        .row
          h1.col.s12.resumen.center
            | Somos una agroindustria ecuatoriana que procesa y comercializa los mejores cortes de carne de: Res, Cerdo, Pollo y Charcutería. 
            br
            | Nuestra línea Industry se enfoca en todo el sector HORECA. (Hoteles, Caterings, Restaurantes).
            | Para llegar al consumidor final, hemos creado una nueva línea Carnivery, que se enfoca en facilitar la vida al cliente final, con lo mejor de nuestra línea cárnica.
          h2.subti3.center Nuestras Líneas
        .row.center
          .col.s6.logo
            img.sombra(src='img/logoIndustry.png', alt='')
          .col.s6.logo
            img(src='img/mobile/logoCarnivery@2x.png', alt='')
          .col.s12
            .row.center  
              button.btnEntrar Ver más
            .row.center
              a  
                img(src='img/mobile/fAbajo.png', alt='')

    <!-- CARNIVERY INTRODUCCION-->              
    .main-container.carHead
      .container
        .row
          p.col.s12.textCarnivery.sombraText
            | Muchas veces necesitas tus cortes para el almuerzo y no tienes tiempo, no te preocupes. Carnivery te llevará los mejores cortes directo a tu hogar. Tenemos dos líneas Día Día y Fin de Semana. Ya no pases tiempo en el supermercado, Carnivery te simplifica la vida.
        .row.center
          botton.btnEntrar entrar

    <!-- DIA A DIA-->
    .main-container.madera.alfa
      .container
        .row#headDia <!-- ESTA FILA CONTIENE A TODO-->
          .col.s12.m8.l8 <!--contiene todo el lado izq-->
            .row <!-- ESTA FILA CONTIENE al logo y la descripcion-->
              .col.m3
                img#logoDia(src='img/svg/logDia.svg', width='150px')
              .col.m8.offset-m1.offset-l1
                .row
                  h3.col.s12.subtiNegro LISTO PARA RESOLVERTE EL DIA
                  p.col.s12
                    | Muchas veces no sabes que preparar para cada día. No te preocupes, puedes pedir tus cortes y planificar toda una semana. Así tendrás cero estrés.
                .row.center
                  botton.btnEntrar entrar
            <!-- CAJA BLANCA EN OTRA FILA-->
            .row.cajaBlanca.sombra <!-- ESTA FILA CONTIENE la caja-->
              img(src='img/cfinde.png', width="100%")
              .container.cont90
                .col.s12.l6
                  h3.subti2
                    | FRESCO, RAPIDO Y LISTO PARA SERVIR
                  p
                    | Y lo mejor de todo sin salir de casa, con los cortes que elijas podrás preparar los platos que tanto desean los tuyos. Deleita el paladar!
                .col.s12.l6
                  .row.hide-on-med-and-down.center
                    .col.l6
                      img(src="img/paquete.jpg", alt="", width="80%")
                    .col.l6  
                      img(src="img/paquete.jpg", alt="", width="80%")  
                  .row.l12.center
                    .col.s4
                      img.sizeAnima(src="img/svg/icoRes.svg", alt="")
                      p.textRes Res  
                    .col.s4
                      img.sizeAnima(src="img/svg/icoCerdo.svg", alt="")
                      p.textCerdo Cerdo
                    .col.s4
                      img.sizeAnima(src="img/svg/icoPollo.svg", alt="")
                      p.textOran Pollo
          .col.m3.l3.hide-on-small-only.trinche.offset-m1.offset-l1 <!--contiene todo el lado derecho trinche-->

    <!-- SECCION FIN DE SEMANA-->        
    .main-container.fondoFinde
      .container.logoFinde
    .container#textFinde
      p.center#textFinde2 Ahora puedes hacer la parrillada con todos tus amigos y el producto estará listo para prepararse. Con la línea Fin de semana tendrás una variedad de productos para ese asado que tienes planificado con tu familia o amigos. <br> Solo tienes que llamarnos!
      .row.center
        botton.btnEntrar entrar
    // image parrillada    
    .main-container.sepUp
      .container
        .row.m12.l5
          .col.m4
            img.hide-on-small-only(src="img/parri01.jpg", alt="", width="100%")
          .col.m4
            img(src="img/parri02.jpg", width="100%")
          .col.m4
            img.hide-on-small-only(src="img/parri03.jpg", alt="", width="100%")  
    <!-- SECCION APP-->
    .main-container.madera
     .row
      .col.m6.l7.iphone.hide-on-small-only
      .col.m5.l4.sombra.sepUp.cajaiPhone <!-- CONTIENE la caja blanca-->
        h3.col.s12.textOran.sombraText Y LO MEJOR DE TODO!
        p.col.s6.m12.textApp
          | Tus cortes están al alcance de un solo click <br>
          |Con nuestra APP podrás hacer tus pedidos desde la comodidad de tu hogar, o dónde quiera que estés! <br> Descarga la app Carnivery tanto para Android como para iOS.
        .row.center
          .col.s12.centrar2
            img(src="img/svg/gPlay.svg", alt="", width="50%")
            img(src="img/svg/appStore.svg", alt="", width="50%")
          p.col.s12.textApp O si prefieres puedes llamarnos a nuestra línea exclusiva de atención a cliente:
          .col.s12.center
            img(src="img/svg/1800.svg", alt="", width="75%")         
      .iphone.hide-on-med-and-up
    
    <!-- SECCION LINEA INDUSTRY-->
    .main-container.fpresentacion.alfa
      .container
        .sombra#logoIndustry
        .row.center
          p.col.s12 Procesamos, comercializamos y desarrollamos productos cárnicos inocuos de alta calidad, al alcance de todos los segmentos del sector HORECA e industrial en Ecuador
        .row.center
          botton.btnEntrar entrar

    <!-- SECCION LINEAS DE PRODUCTOS-->
    .main-container
      .barraNegra
        p LINEAS DE PRODUCTOS
      .container.sepUp
        .row.center
          .col.s12.m6
            .col.s6.m6
              .icoRes
              p Res  
            .col.s6.m6
              .icoCerdo
              p Cerdo  
          .col.s12.m6
            .col.s6.m6
              .icoPollo
              p Pollo  
            .col.s6.m6
              .icoCharcu
              p Charcutería
        .divider           

    <!-- SECCION FICHAS FOOD SERVICE INOCUIDAD-->
    .main-container
      .container
        .row  
          .col.s12.m4.sepUp
            h3.textOran FICHAS TÉCNICAS
            img(src="img/mobile/ficha.jpg", alt="", width="90%")
            p.textPeque Encuentre todas las especificaciones de nuestros productos industriales.
            botton.btnEntrar.sepUp ver
          .col.s12.m4.sepUp
            h3.textOran FOOD & SERVICES
            img(srcset="img/mobile/foodServices.jpg 1x, img/mobile/foodServices@2x.jpg 2x", alt="", width="90%")
            p.textPeque Comercializamos los más finos cortes de carne de res, cerdo, pollo y charcutería para abastecer a caterings, hoteles y restaurantes en el país.
            botton.btnEntrar.sepUp ver
          .col.s12.m4.sepUp
            h3.textOran INOCUIDAD
            img(srcset="img/mobile/bpm.png 1x, img/mobile/bpm@2x.png 2x", alt="", width="65%")
            p.textPeque Nuestros procesos nos permiten tener eficiencia, diversidad, calidad e INOCUIDAD en nuestros productos. Contamos con la certificación de Buenas Prácticas de Manofactura.

    footer.page-footer.pieMP
      .container
        .row
          .col.m3.l3.s12.hide-on-small-only
            img(srcset="img/svg/logoMeatPro.svg")
          .col.m3.l3.s6.textFooter
            a(href="#") Inicio<br>
            a(href="#") Carne de Res<br>
            a(href="#") Carne de Cerdo<br>
            a(href="#") Carne de Pollo<br>
            a(href="#") Embutidos<br>
            a(href="#") Linea Día Día<br>
            a(href="#") Linea Fin de Semana<br>
          .col.m3.l3.s6.textFooter
            a(href="#") Nuestra Empresa<br>
            a(href="#") Acerca de MP Group<br>
            a(href="#") Linea Industry<br>
            a(href="#") Food Service<br>
            a(href="#") Certificado de Calidad<br>
            a(href="#") Permisos<br>
          .col.m3.l3.s6.textFooter
            a(href="#") Mi cuenta<br>
            a(href="#") Mi pedido<br>
            a(href="#") Acerca de Carnivery<br>
            a(href="#") Nuestros servicios<br>
            a(href="#") Politicas de privacidad<br>
            a(href="#") Atención al cliente<br>
          .col.l3.s6.hide-on-med-and-up
            img(srcset="img/svg/logoMeatPro.svg")
      .footer-copyright
        .main-container.center © 2016 Copyright | Meat Pro S.A. | Carnivery es una marca de Meat Pro
    <!-- JAVA SCRIPT NECESARIOS-->
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script.
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown();